.App {
  text-align: center;
  display: grid;
  grid-template-columns: 30% 70%;
}

.holder{
  background-color: lightgrey;
  grid-column: 1;
  padding-bottom: 400px;
}

.bloc-chat{
  text-align: left;
  margin-left: 20px;
  font-weight: normal;
}

.room-list{
  border-top: 1px solid white;
  grid-column: 1;
}

.room-names{
  display: inline-block;
  text-align: left;
  margin-left: -10px;
  margin-right: 10px;
  font-weight: lighter;
}

.newRoomForm{
  text-align: left;
  margin-left: 20px;
}

.active-room{
 display: grid;
 grid-column: 2;
 text-align: left;
}

.activated{
  text-align: left;
  margin-left: 20px;
}

table:nth-child(even){
  background-color: lightgrey;
}

#new-mes{
  display: inline;
  margin-left: 20px;
  margin-top: 250px;
  height: 100px;
  width: 500px;
}

.delete-room-but{
  display: inline;
}

.online-user{
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 2px solid grey;
}
